/* Just to center the button, not really important but
make sure you define the button's position*/
:root {
  --color-primary: #0073ff;
  --color-white:black;
  --color-black:white;
  --color-black-1: #212b38;
}


.logo {
  color: var(--color-white);
  font-size: 30px;
}

.logo span {
  color: var(--color-primary);
}

.menu-bar {
  background-color: var(--color-black);
  height: 50px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;

  position: relative;
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */

  position: relative;
}

.menu-bar ul li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;

  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: var(--color-primary);
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-black);
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}

.dropdown-menu-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}

.hero {
  height: calc(100vh - 80px);
  background-image: url(./bg.jpg);
  background-position: center;
}
body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}
.btn{
position:relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.btn{
  background: linear-gradient(90deg, #b576c4, #5f27cd);
  font-size: 16px;
  color: #fff;
  padding: 10px 45px;
  border: none;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 2px 2px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  width: 250px;
  height: 100px;
}

.btn:hover{
  background: linear-gradient(90deg, #d50fff, #44199a);
}